<div style="display: flex; justify-content: center; width: 100%;">
    <div class="_form">

        <div class="_form-header">
            <i class="fa fa-sign-in"></i>
            <span>Login</span>
        </div>

        <div class="_form-body">
            <app-error *ngIf="errorFlag" [inputData]="errorData"></app-error>

            <app-login *ngIf="loginFlag" (returnFunction)="loginEnded($event)"></app-login>

            <app-otp *ngIf="otpFlag" (returnFunction)="otpEnded($event)" [inputData]="otpData"></app-otp>
        </div>
    </div>
</div>