<div class="_app-top-menu-container">

<div class="_app-top-menu-element" pTooltip="Dashboard" appendTo="target" tooltipPosition="bottom" (click)="onClick('./dashboard/resume');">
  <i class="fa fa-fw fa-home"></i>
  <span>Dashboard</span>
</div>

<div class="_app-top-menu-element" pTooltip="Day Activity" appendTo="target" tooltipPosition="bottom"  (click)="onClick('./dashboard/insertdayactivity');">
  <i class="fa fa-fw fa-calendar"></i>
  <span>Day Activity</span>
</div>

<div class="_app-top-menu-element" pTooltip="Notification" appendTo="target" tooltipPosition="bottom">
  <i class="fa fa-fw fa-bell"></i>
  <span>Notification</span>
</div>

<div class="_app-top-menu-element" pTooltip="Support" appendTo="target" tooltipPosition="bottom" (click)="onClick('./dashboard/newproject');">
  <i class="fa fa-fw fa-life-ring"></i>
  <span>Support</span>
</div>

</div>