/*._toggle.ui-fieldset, ._toggle.ui-fieldset .ui-fieldset-legend  {
    background-color: red;
}*/

.pi-minus:before {
    color : red;
}

.pi-plus:before {
    color: green;
}

._toggle.ui-fieldset-toggleable .ui-fieldset-legend a {
    padding: 0px;
    height: 1.7em;
    font-size: 75%;
}

._toggle.ui-fieldset .ui-fieldset-legend  {
    border-color: black;
    /*background-color: lightgray;*/
}

._toggle.ui-fieldset .ui-fieldset-legend:hover  {
    border-color: black;
}


._short {
    background-color: lightgray;
}

._green-border {
    border: solid;
    border-width: 10px; 
    border-color: green; 
    width: 10px;
    color: green; 
}

._white-border {
    border: solid;
    border-width: 1.5px; 
    border-color: white;
    color: white;
}

.border-button {
    border: solid 5px ;
    border-color: red;
    margin: 0.5em;

}
  
.border-button:hover { 
    border-color: orangered;
}

._short-view-component { 
    border: solid;
    border-right-width: 2px; 
    border-top-width: 0px; 
    border-bottom-width: 0px; 
    border-left-width: 0px; 
    border-color: white; 
}

._inline {
    padding:0px !important;
    align-content: center;
    height: 3em;
}

._inline-start-border {
    width: 10px;
}
._inline-content {
    width: 100%;
    margin-top: 1em;
    margin-left:1em;
}
._inline-end-border {
    width: 1.5px;
} 