.pi-minus:before {
    color : red;
}

.pi-plus:before {
    color: green;
}

._toggle.ui-fieldset-toggleable .ui-fieldset-legend a {
    padding: 0px;
    height: 1.7em;
    font-size: 75%;
}

._toggle.ui-fieldset .ui-fieldset-legend  {
    border-color: black;
}

._toggle.ui-fieldset .ui-fieldset-legend:hover  {
    border-color: black;
}

._green-border {
    border: solid;
    border-width: 6px; 
    border-color: green; 
    width: 6px;
    color: green; 
}

._white-border {
    border: solid;
    border-width: 1.5px; 
    border-color: white;
    color: white;
}

.border-button {
    border: solid 5px ;
    border-color: red;
    margin: 0.5em;

}
  
.border-button:hover { 
    border-color: orangered;
}

._short-view-component { 
    border: solid;
    border-right-width: 2px; 
    border-top-width: 0px; 
    border-bottom-width: 0px; 
    border-left-width: 0px; 
    border-color: white; 
}

._inline {
    padding:0px !important;
    align-content: center;
    height: 3em;
}

._inline-start-border {
    width: 10px;
}
._inline-content {
    width: 100%;
    margin-top: 1em;
    margin-left:1em;
}
._inline-end-border {
    width: 1.5px;
} 

._earnings-arrow {
    width: 10%;
}

._earnings-down{
    color:red
}

._earnings-up{
    color:green;
}

._earnings-equals{
    color: black;
}

._earnings-value {
    width: 90%;
}


._days-value {
    width: 90%;
}

._days-hashtag{
    width: 25%; 
}


/*  Responsive part */

._prv-no-padding {
    padding: 0em;
    display: inline-flex;
    width: 100%;
}

._prv-resposivee-50 {
    width: 50%;
    display: inline-flex;
    margin-bottom: 0em;
 }

 ._short {
    background-color: lightgray;
    display: inline-flex;
    width: 50%;
 }

@media (max-width: 1200px){

     ._prv-no-padding {
        display: block;
    }

    ._prv-resposivee-50 {
        width: 100% !important;
     }
}



@media (max-width: 750px){

   ._prv-resposivee-50 {
        display: block !important;
    }

    ._short {
        width: 100% !important;
     }
}


._pvr-white-border {
    height: 5%;
    background-color: white !important;
    width: 100%;
}

._pvr-block-content {
    display: inline-flex; 
    width: 100%; 
    height: 95% !important;
}

._pvr-block{
    display: block; 
    width: 100%;
}

._pvr-border {
    border: solid 10px transparent;
}

._dark-border {
    border: solid;
    border-width: 2px; 
    border-color: darkgray;
    color: darkgray;
}