<!--<div class="container">
  <div class="row centered-form">
    <div class="col-xs-12 col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Please insert your enterprise information or
            <a href="/login" class="text-center new-account">SIGN IN</a>
          </h3>
        </div>
        <div class="panel-body">
          <form class="form-signin" name="registrationForm" id="registrationForm" [formGroup]="registrationForm" (submit)='onSubmit()'>
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="text" id="first_name" formControlName="first_name" class="form-control input-lg" placeholder="First Name" autofocus>
                  <div [hidden]="first_name.pristine || (first_name.dirty && first_name.valid)" class="alert alert-danger"> First Name is required
                  </div>
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="text" id="last_name" formControlName="last_name" class="form-control input-lg" placeholder="Last Name">
                  <div [hidden]="last_name.pristine || (last_name.dirty && last_name.valid)" class="alert alert-danger"> Last Name is required
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="text" id="email" formControlName="email" class="form-control input-lg" placeholder="Email Address">
                  <div [hidden]="!email.hasError('required') || email.untouched" class="alert alert-danger"> Email is required
                  </div>
                  <div [hidden]="email.hasError('required')  || !email.hasError('email')" class="alert alert-danger"> Email must be in the form xx@yy.zz
                  </div>
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="text" id="mobilePhone" formControlName="mobilePhone" class="form-control input-lg" placeholder="Mobile Phone">
                  <div [hidden]="!mobilePhone.hasError('required') || mobilePhone.untouched" class="alert alert-danger"> Mobile Phone is required
                  </div>
                  <div [hidden]="mobilePhone.hasError('required') || mobilePhone.valid" class="alert alert-danger"> Mobile Phone lenght must be 10
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="text" id="company" formControlName="company" class="form-control input-lg" placeholder="Company">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="password" id="password" formControlName="password" class="form-control input-lg" placeholder="Password" (keyup)="passwordVerify()">
                  <div [hidden]="!password.hasError('required') || password.untouched" class="alert alert-danger"> Password is required
                  </div>
                  <div [hidden]="password.hasError('required')  || password.hasError('maxlength') || password.hasError('minlength') || !password.hasError('pattern')"
                    class="alert alert-danger"> Password must has at last one Alphabetic letter and one Number
                  </div>
                  <div [hidden]="password.hasError('required') || !password.hasError('minlength')" class="alert alert-danger"> Password minimum length must be 6
                  </div>
                  <div [hidden]="password.hasError('required') || !password.hasError('maxlength')" class="alert alert-danger"> Password max length must be 20
                  </div>
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="password" class="form-control input-lg" placeholder="Confirm Password" (keyup)="passwordVerify()" [(ngModel)]="password_confirmation"
                    [ngModelOptions]="{standalone: true}">
                  <div [hidden]="password.hasError('required')  || password.hasError('minlength')  || password.hasError('maxlength') || password.hasError('pattern') || passwordMatch"
                    class="alert alert-danger"> Two passwords must match
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-10 col-sm-8 col-md-6 col-xs-offset-1 col-sm-offset-2 col-md-offset-3">
              <button type="submit" class="btn btn-info btn-block" [(disabled)]="!passwordMatch || !registrationForm.valid">
                Send Account Creation Request </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>-->
<!--<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Activity Managment System - Registration Form</title>
  <meta name="description" content="Activity Managment System - Registration Form">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" href="apple-icon.png">
  <link rel="shortcut icon" href="favicon.ico">

  <link rel="stylesheet" href="../../assets/css/normalize.css">
  <link rel="stylesheet" href="../../assets/css/themify-icons.css">
  <link rel="stylesheet" href="../../assets/css/flag-icon.min.css">
  <link rel="stylesheet" href="../../assets/css/cs-skin-elastic.css">
  <link rel="stylesheet" href="../../assets/scss/style.css">

  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

</head>
<body class="bg-dark">-->











<!--<div class="sufee-login d-flex align-content-center flex-wrap">
  <div class="container">
    <div class="login-content">
      <div class="login-logo">
        <a routerLink="/login" routerLinkActive="active">
          <img class="align-content" src="../../images/logo.png" alt="">
        </a>
      </div>
      <div class="login-form">
        <form name="registrationForm" id="registrationForm" [formGroup]="registrationForm" (submit)='onSubmit()'>

          <div class="col-md-12">
            <div class="form-group">
              <label>Mobile Phone</label>
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-phone" style="width: 15px;"></i>
                </div>
                <p-inputMask type="text" id="mobilePhone" formControlName="mobilePhone" class="form-control" placeholder="111" [style]="{'width':'100%','height':'100px'}"
                mask="9?9999999999" ></p-inputMask>
              </div>
              <div [hidden]="!mobilePhone.hasError('required') || mobilePhone.untouched" class="alert alert-danger" role="alert"> Mobile Phone is required
              </div>
              <div [hidden]="mobilePhone.hasError('required') || mobilePhone.valid" class="alert alert-danger" role="alert"> Mobile Phone lenght must be 10
              </div>
            </div>
          </div>

          <div class="form-group">
            <label>Email address</label>
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-envelope" style="width: 15px;"></i>
              </div>
              <p-inputMask type="email" class="form-control" placeholder="Email" id="email" formControlName="email"></p-inputMask>
            </div>
            <div [hidden]="!email.hasError('required') || email.untouched" class="alert alert-danger" role="alert"> Email is required
            </div>
            <div [hidden]="email.hasError('required')  || !email.hasError('email')" class="alert alert-danger" role="alert"> Email must be in the form xx@yy.zz
            </div> 
          </div>
          <div class="form-group">
            <label>First Name</label>
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-info" style="width: 15px;"></i>
              </div>
              <p-inputMask type="text" id="first_name" formControlName="first_name" class="form-control" placeholder="First Name"></p-inputMask>
            </div>
             <div [hidden]="first_name.pristine || (first_name.dirty && first_name.valid)" class="alert alert-danger" role="alert">
              First Name is required </div>
          </div>
          <div class="form-group">
            <label>Last Name</label>
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-info" style="width: 15px;"></i>
              </div>
              <p-inputMask type="text" id="last_name" formControlName="last_name" class="form-control" placeholder="Last Name"></p-inputMask>
            </div>
              <div [hidden]="last_name.pristine || (last_name.dirty && last_name.valid)" class="alert alert-danger" role="alert"> Last Name is required
            </div> 
          </div>
          <div class="form-group">
            <label>Company</label>
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-info" style="width: 15px;"></i>
              </div>
              <p-inputMask type="text" id="company" formControlName="company" class="form-control" placeholder="Company"></p-inputMask>
            </div>
          </div>
           <div class="form-group">
            <label>Password</label>
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-asterisk" style="width: 15px;"></i>
              </div>
              <p-inputMask type="password" class="form-control" placeholder="Password" id="password" formControlName="password" (keyup)="passwordVerify()"></p-inputMask>
            </div>
             <div [hidden]="!password.hasError('required') || password.untouched" class="alert alert-danger" role="alert"> Password is required
            </div>
            <div [hidden]="password.hasError('required')  || password.hasError('maxlength') || password.hasError('minlength') || !password.hasError('pattern')"
              class="alert alert-danger" role="alert"> Password must has at last one Alphabetic letter and one Number
            </div>
            <div [hidden]="password.hasError('required') || !password.hasError('minlength')" class="alert alert-danger" role="alert">
              Password minimum length must be 6
            </div>
            <div [hidden]="password.hasError('required') || !password.hasError('maxlength')" class="alert alert-danger" role="alert">
              Password max length must be 20
            </div> 
               </div>
         <div class="form-group">
            <label>Password Confirmation</label>
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-asterisk" style="width: 15px;"></i>
              </div>
              <p-inputMask type="password" class="form-control" placeholder="Confirm Password" (keyup)="passwordVerify()" [(ngModel)]="password_confirmation"
                [ngModelOptions]="{standalone: true}"></p-inputMask>
            </div>
           <div [hidden]="password.hasError('required')  || password.hasError('minlength')  || password.hasError('maxlength') || password.hasError('pattern') || passwordMatch"
              class="alert alert-danger" role="alert"> Two passwords must match
            </div>
          </div>
            <div class="checkbox">
              <label>
                <input type="checkbox"> Agree the terms and policy
              </label>
            </div>
            <button type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30" [(disabled)]="!passwordMatch || !registrationForm.valid">
              <i class="fa fa-user-plus fa-2x" style="color:white"> Register</i>
            </button>
            <div class="register-link m-t-15 text-center">
              <p>Already have account ?
                <a routerLink="/login" routerLinkActive="active"> Sign in</a>
              </p>
            </div>
        </form>
        </div>
      </div>
    </div>
  </div> -->

<!--</body>

</html>-->










<div class="sufee-login d-flex align-content-center flex-wrap">
  <div class="container">
    <div class="login-content">
      <div class="login-logo">
        <a routerLink="/login" routerLinkActive="active">
          <img class="align-content" src="../../images/logo.png" alt="">
        </a>
      </div>
      <div class="login-form">
        <form name="registrationForm" id="registrationForm" [formGroup]="registrationForm" (submit)='onSubmit()'>


          <div class="form-group">
            <label>Mobile Phone</label>
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-phone" style="width: 15px;"></i>
              </div>
              <!--<p-inputMask type="text" id="mobilePhone" formControlName="mobilePhone" class="form-control ext" placeholder="111" [style]="{'width':'100%','height':'100%'}"
                mask="9999999999" slotChar="" autoClear="false"></p-inputMask>-->
                <input type="text" id="mobilePhone" formControlName="mobilePhone" class="form-control" placeholder="111"
                pKeyFilter="int" pInputText>
            </div>
          </div>


          <div class="form-group">
            <label>Email address</label>
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-envelope" style="width: 15px;"></i>
              </div>
              <input type="email" id="email" formControlName="email" class="form-control" placeholder="Email Address" 
              pKeyFilter="email" pInputText>
            </div>
          </div>






          <div class="checkbox">
            <label>
              <input type="checkbox"> Agree the terms and policy
            </label>
          </div>
          <button type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30" [(disabled)]="!passwordMatch || !registrationForm.valid">
            <i class="fa fa-user-plus fa-2x" style="color:white"> Register</i>
          </button>
          <div class="register-link m-t-15 text-center">
            <p>Already have account ?
              <a routerLink="/login" routerLinkActive="active"> Sign in</a>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>