<!--<link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
<link rel="stylesheet" href="../../assets/css/normalize.css">
<link rel="stylesheet" href="../../assets/css/themify-icons.css">
<link rel="stylesheet" href="../../assets/css/flag-icon.min.css">-
<link rel="stylesheet" href="../../assets/css/cs-skin-elastic.css">
<link rel="stylesheet" href="../../assets/scss/style.css">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>-->

<!--<script src="../../assets/js/vendor/jquery-2.1.4.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../../assets/js/popper.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../../assets/js/plugins.js" type="text/javascript" charset="utf-8"></script>
<script src="../../assets/js/main.js" type="text/javascript" charset="utf-8"></script>-->

<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">

        <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="./">
                <img src="images/logo.png" alt="Logo">
            </a>
            <a class="navbar-brand hidden" href="./">
                <img src="images/logo2.png" alt="Logo">
            </a>
        </div>

        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav">

                <li>
                    <a href="/dashboard">
                        <i class="menu-icon fa fa-dashboard"></i>Dashboard </a>
                </li>

                <app-project-lateral-menu (returnFunction)="activateFunction($event)"> </app-project-lateral-menu>

                <app-lateral-activity-menu (returnFunction)="activateFunction($event)"></app-lateral-activity-menu>

                <br>
                <br>
                <br>
                <h3 class="menu-title"></h3>
                <li>
                    <a href="/logout">
                        <i class="menu-icon fa fa-sign-out"></i>Logout </a>
                </li>

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>
</aside>
<!-- /#left-panel -->

<!-- Left Panel -->

<!-- Right Panel -->
<div id="right-panel" class="right-panel" style="width: 1620px;">
    <!-- fix right pannel size   style="width: 1600px"  -->

    <p-confirmDialog header="Confirmation" icon="fa fa-question-circle"></p-confirmDialog>
    <!-- Header-->
    <header id="header" class="header">

        <div class="header-menu">

            <div class="col-sm-7">
                <a id="menuToggle" class="menutoggle pull-left">
                    <i class="fa fa-arrow-left"></i>
                </a>
                <div class="header-left">

                    <!--<app-search></app-search>-->

                    <app-dropdown-notification></app-dropdown-notification>

                    <app-dropdown-message></app-dropdown-message>

                </div>
            </div>

            <div class="col-sm-5">
                <div class="user-area dropdown float-right">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="user-avatar rounded-circle" src="images/admin.jpg" alt="User Avatar">
                    </a>

                    <div class="user-menu dropdown-menu">
                        <a class="nav-link" href="#">
                            <i class="fa fa- user"></i>My Profile</a>

                        <a class="nav-link" href="#">
                            <i class="fa fa- user"></i>Notifications
                            <span class="count">13</span>
                        </a>

                        <a class="nav-link" href="#">
                            <i class="fa fa -cog"></i>Settings</a>

                        <a class="nav-link" href="#">
                            <i class="fa fa-power -off"></i>Logout</a>
                    </div>
                </div>

                <div class="language-select dropdown" id="language-select">
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown" id="language" aria-haspopup="true" aria-expanded="true">
                        <i class="flag-icon flag-icon-us"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="language">
                        <div class="dropdown-item">
                            <span class="flag-icon flag-icon-fr"></span>
                        </div>
                        <div class="dropdown-item">
                            <i class="flag-icon flag-icon-es"></i>
                        </div>
                        <div class="dropdown-item">
                            <i class="flag-icon flag-icon-us"></i>
                        </div>
                        <div class="dropdown-item">
                            <i class="flag-icon flag-icon-it"></i>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </header>
    <!-- Header-->


    <div class="breadcrumbs col-12">
        <div class="col-sm-4">
            <div class="page-header float-left">
                <div class="page-title">
                    <h1>Dashboard</h1>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="page-header float-right">
                <div class="page-title">
                    <ol class="breadcrumb text-right">
                        <li>
                            <a href="#">Dashboard</a>
                        </li>
                        <li>
                            <a href="#">UI Elements</a>
                        </li>
                        <li class="active">Alerts</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>




    <div class="content mt-3" style="padding : 0px">
        <!-- fix content padding - no space between left pannel and content   style="padding : 0px"  -->
        <div class="animated fadeIn">
            <div class="row">

                <div class="col-12">

                    <app-view-project *ngIf="functionList['viewproject']"></app-view-project>

                    <app-new-project *ngIf="functionList['newproject']"></app-new-project>

                    <app-new-project-team *ngIf="functionList['newprojectteam']"></app-new-project-team>

                    <app-edit-project-team *ngIf="functionList['editprojectteam']"></app-edit-project-team>

                    <app-new-project-task *ngIf="functionList['newprojecttask']"></app-new-project-task>

                    <app-new-task-assignation *ngIf="functionList['editprojecttask']"></app-new-task-assignation>



                    <app-view-activity *ngIf="functionList['viewactivity']"></app-view-activity>

                    <app-new-day-activity *ngIf="functionList['newdayactivity']"> </app-new-day-activity>

                </div>

            </div>
        </div>



    </div>

</div>