
._click-wave {
    position: fixed;
    box-sizing:border-box;
    border-style:solid;
    border-color:black;
    border-radius:50%;
    animation:clickWave 0.4s ease-out;
    z-index:99999;
}

@keyframes clickWave {
    0%   {
        opacity: 1;
        width: 0.5em;
        height: 0.5em;
        margin: -0.25em;
        border-width:0.5em;
    }
    100% {
        opacity:0.2;
        width:10em; 
        height:10em;
        margin:-5em;
        border-width:0.03em;
    }
}




/*div._click-wave-Special::after {
    content:"";
    position: fixed;
    animation:clickWave2 1s ease-out;
    z-index:99999;
}

@keyframes clickWave2 {
    0%   {
        box-sizing:border-box;
        border-style:solid;
        border-color:black;
        border-radius:50%;

        opacity: 1;
        width: 0.5em;
        height: 0.5em;
        margin: -0.25em;
        border-width:0.5em;
    }
    100% {
        box-sizing:border-box;
        border-style:solid;
        border-color:black;
        border-radius:50%;

        opacity:0.2;
        width:15em; 
        height:15em;
        margin:-7.5em;
        border-width:0.03em;
    }
}*/