<!--<div id="loginDiv">
    <form (ngSubmit)="onSubmit()" [formGroup]='loginForm'>
        <div class="form-group">
            <label>Email or Mobile Phone</label>
            <div class="input-group">
                <div class="input-group-addon">
                    <i class="fa fa-user-circle" style="width: 15px;"></i>
                </div>
                <input type="email" class="form-control _form-special" id='email' placeholder="..." formControlName="email">
            </div>
            <div [hidden]="!email.hasError('required') || email.untouched" class="alert alert-danger" role="alert"> Email or Mobile Phone is required
            </div>
        </div>
        <div class="form-group">
            <label>Password</label>
            <div class="input-group">
                <div class="input-group-addon">
                    <i class="fa fa-asterisk" style="width: 15px;"></i>
                </div>
                <input type="password" class="form-control _form-special" id='password' placeholder="..." formControlName="password">
            </div>
            <div [hidden]="!password.hasError('required') || password.untouched" class="alert alert-danger" role="alert"> Password is required
            </div>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox"> Remember Me
            </label>
            <label class="pull-right">
                <a href="/success?email={{email.value}}">(Forgotten Password?)</a>
            </label>

        </div>

        <div *ngIf="loader">
            <app-loader></app-loader>
        </div>
        <div *ngIf="!loader">
            <button [(disabled)]="!loginForm.valid" type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30">
                <i class="fa fa-user fa-2x" style="color:white"> Sign in</i>
            </button>
        </div>

        <div class="register-link m-t-15 text-center">
            <p class="_p-text">Don't have account ?
                <a routerLink="/registration" routerLinkActive="active"> Sign Up Here!</a>
            </p>
        </div>
    </form>
</div>-->






<!--<div class="ui-g ui-fluid">
    <div class="ui-g-12">
        <div class="_input-group">
            <span class="ui-float-label">
                <i class="fa fa-user"></i>
                <input id="float-input" type="text" pInputText>
                <label for="float-input">Username</label>
            </span>
        </div>
    </div>
</div>-->


<div class="ui-g ui-fluid">
    <div class="ui-g-12">

        <form (ngSubmit)="onSubmit()" [formGroup]='loginForm'>

            <div class="_input-group-flex">
                <span class="ui-float-label">
                    <i class="fa fa-user _to-right"></i>
                    <input type="text" pInputText formControlName="email">
                    <label for="float-input">Username or mobilephone</label>
                </span>
            </div>

            <div class="_input-group-flex">
                <span class="ui-float-label">
                    <i class="fa fa-lock _to-right"></i>
                    <input type="password" pInputText formControlName="password">
                    <label for="float-input">Password</label>
                    <i class="fa fa-eye _to-left _view-password"></i>
                </span>
            </div>

            <div class="_pull-rigth" style="padding-top: .5rem;">
                <a href="/success?email={{email.value}}">(Forgotten Password?)</a>
            </div>


            <div class="_form-submit-btn" *ngIf="loader">
                <app-loader></app-loader>
            </div>
            <div class="_form-submit-btn" *ngIf="!loader">
                <button [(disabled)]="!loginForm.valid" type="submit" class="btn _grad-sublime-vivid-bg">
                    <i class="fa fa-user fa-2x" style="color:white"> Sign in</i>
                </button>
            </div>

            <div class="_pull-rigth _up-line _grad-sublime-vivid-border" style="padding-top: 1rem;">
              <span> Don't have an account ? <a routerLink="/registration">Sign Up</a> </span> 
            </div>


        </form>

    </div>
</div>