<ul class="nav navbar-nav">
  <h3 class="menu-title">Projects</h3>
  <li>
    <a routerLink="./viewproject" class="_click-effect-sm">
      <i class="menu-icon fa fa-folder-open"></i>View Projects </a>
  </li>

  <li class="menu-item-has-children dropdown">
    <a href="#" class="dropdown-toggle _click-effect-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="menu-icon fa fa-sitemap"></i>Manage Project</a>
    <ul class="sub-menu children dropdown-menu">
      <li>
        <i class="menu-icon fa fa-save"></i>
        <a routerLink="./newproject" class="_click-effect-sm" >New Project</a>
      </li>
      <li>
        <i class="menu-icon fa fa-edit"></i>
        <a routerLink="./editproject" class="_click-effect-sm">Edit Project</a>
      </li>
    </ul>
  </li>

  <li class="menu-item-has-children dropdown">
    <a href="#" class="dropdown-toggle _click-effect-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="menu-icon fa fa-users"></i>Project Team</a>
    <ul class="sub-menu children dropdown-menu">
      <li>
        <i class="menu-icon fa fa-user-plus"></i>
        <a routerLink="./newprojectteam" class="_click-effect-sm">New Project Team</a>
      </li>
      <li>
        <i class="menu-icon fa fa-edit"></i>
        <a routerLink="./editprojectteam"  class="_click-effect-sm">Edit Project Team</a>
      </li>
    </ul>
  </li>

  <li class="menu-item-has-children dropdown">
    <a href="#" class="dropdown-toggle _click-effect-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="menu-icon fa fa-clipboard "></i>Project Tasks</a>
    <ul class="sub-menu children dropdown-menu">
      <li>
        <i class="menu-icon fa fa-plus-square"></i>
        <a routerLink="./newprojecttask"  class="_click-effect-sm">New Project Task</a>
      </li>
      <li>
        <i class="menu-icon fa fa-edit"></i>
        <a routerLink="./editprojecttask"  class="_click-effect-sm">Edit Project Task</a>
      </li>
      <li>
        <i class="menu-icon fa fa-plus-circle"></i>
        <a routerLink="./newjobassignation"  class="_click-effect-sm">Job Assignation</a>
      </li>
    </ul>
  </li>


  <li>
    <a href="index.html">
      <i class="menu-icon fa fa-line-chart"></i>Project Analysis</a>
  </li>
</ul>