<ul class="nav navbar-nav">
  <h3 class="menu-title">Projects</h3>
  <li>
    <a routerLink="./viewproject">
      <i class="menu-icon fa fa-folder-open"></i>View Projects </a>
  </li>

  <li class="menu-item-has-children dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="menu-icon fa fa-sitemap"></i>Manage Project</a>
    <ul class="sub-menu children dropdown-menu">
      <li>
        <i class="menu-icon fa fa-save"></i>
        <a routerLink="./newproject" >New Project</a>
      </li>
      <li>
        <i class="menu-icon fa fa-edit"></i>
        <a routerLink="./editproject">Edit Project</a>
      </li>
    </ul>
  </li>

  <li class="menu-item-has-children dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="menu-icon fa fa-users"></i>Project Team</a>
    <ul class="sub-menu children dropdown-menu">
      <li>
        <i class="menu-icon fa fa-user-plus"></i>
        <a routerLink="./newprojectteam">New Project Team</a>
      </li>
      <li>
        <i class="menu-icon fa fa-edit"></i>
        <a routerLink="./editprojectteam">Edit Project Team</a>
      </li>
    </ul>
  </li>

  <li class="menu-item-has-children dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="menu-icon fa fa-clipboard"></i>Project Tasks</a>
    <ul class="sub-menu children dropdown-menu">
      <li>
        <i class="menu-icon fa fa-plus-square"></i>
        <a routerLink="./newprojecttask">New Project Task</a>
      </li>
      <li>
        <i class="menu-icon fa fa-edit"></i>
        <a routerLink="./editprojecttask">Edit Project Task</a>
      </li>
      <li>
        <i class="menu-icon fa fa-plus-circle"></i>
        <a routerLink="./newjobassignation" >Job Assignation</a>
      </li>
    </ul>
  </li>


  <li>
    <a href="index.html">
      <i class="menu-icon fa fa-line-chart"></i>Project Analysis</a>
  </li>
</ul>