<p-schedule [events]="events" [header]="header" defaultDate={{defaultDay}} [eventLimit]="4" [editable]="enabledEventModification"
    styleClass="_scheduler" (onDayClick)="newEvent($event)" (onEventClick)="onEventClick($event)" [options]="options" [businessHours]="businessHours"
    [minTime]="minTime" [maxTime]="maxTime"></p-schedule>

<app-job-list-popup [(display)]="display" (addJobFunc)="addJobToEvent($event)" (removeJobFunc)="removeSelectedEvent($event)"></app-job-list-popup>
<!--<div *ngIf="display">
    <app-job-list-popup (addJobFunc)="addJobToEvent($event)" (removeJobFunc)="removeSelectedEvent($event)"></app-job-list-popup>
</div>-->

<!--<p-dialog header="Event Editing" [(visible)]="display" [modal]="true" [responsive]="true" [width]="350" [minWidth]="200" [minY]="70"
    [maximizable]="true" appendTo="body">
    <span>Please Select A Job</span>
    <p-footer>
        <button type="button" pButton icon="pi pi-check" (click)="addJobToEvent()" label="Confirm"></button>
        <button type="button" pButton icon="pi pi-close" (click)="removeSelectedEvent()" label="Delete Event" class="ui-button-secondary"></button>
    </p-footer>
</p-dialog>-->