/* _card  */   
div._card-transition {
    top: 0px;
    transition: top .25s ease-in-out;
}

div._card-transition:hover {
    top:-10px;
}

@keyframes slid-up {
    from {
        top:0px;
    }
    to {
        top: -10px;
    }
}

div._card,  div._card-transition{
    position: relative; /* needed to perfom the animation*/
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    border: solid 0px;
    border-radius: .35rem;
    padding: .5rem;
    max-width: 35em;
    min-width: 20em;
    color: white;

    display: flex;
    flex-direction:column;
    padding-top: .75rem;
    padding-bottom: 2rem;
}

div._card:hover {
    animation-timing-function: linear;
    animation-name: slid-up;
    animation-duration: .25s;
    animation-fill-mode: forwards;
}


div._card:hover,  div._card-transition:hover{
    z-index: 10;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.5);
}

/* _card-header */

._card div._card-header, ._card-transition div._card-header{
    display: flex;
    flex-direction:row;
    height: 20%;
}

._card ._card-header h4, ._card-transition ._card-header h4{
    width: 50%;

    font-family: Comfortaa,cursive,'Times New Roman',Times,serif;
    margin-top: 1rem;
    margin-left: .5rem;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: .05rem;
}

._card ._card-header i, ._card-transition ._card-header i{
    width: 50%;
    display: flex;
    flex-direction:row-reverse;
    font-size: 4rem;
    margin: 1rem;
}

/* _card-body */

._card div._card-body, ._card-transition div._card-body {
    display: flex;
    flex-direction:row;
    height: 60%;
    margin-top:1rem;
}

._card ._card-body div._content ,._card-transition ._card-body div._content {
    width: 50%;
}

._card ._card-body ._content i,._card-transition ._card-body  ._content i{
    font-size: 5rem;
    align-content: center;
    position: absolute;
    left: 10%;
}

@keyframes zoom-animation {
    0%   {
        transform: scale(1.0);
    }
    100% {
        transform: scale(1.2);
    }
}
div._card:hover ._card-body ._content i,div._card-transition:hover ._card-body  ._content i{
    animation:zoom-animation 0.4s infinite;
    animation-direction: alternate;
}

._card ._card-body ._content h4,._card-transition ._card-body  ._content h4{
    font-family: Comfortaa,cursive,'Times New Roman',Times,serif;
    margin-left: 1rem;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: .05rem;
    margin-top: .75rem;
    text-align: center;
}

._card ._card-body ._content h4._content-number,._card-transition ._card-body  ._content h4._content-number{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 250;
}

/* _card-footer */

._card div._card-footer, ._card-transition div._card-footer {
    display: flex;
    flex-direction:row;
    height: 20%;
    margin-top: 1rem;
}

/* START card app  */
._app-card {
    display: flex;
    flex-direction:column;
    align-content: center;
    /*background-color: rgba(0, 128, 0, .8);*/
    background-color: var(--app-card-bg-color);
    border: var(--app-card-border);

    cursor: pointer;
    margin: .25rem .25rem .25rem .25rem;
    padding: 1.5rem .3rem .3rem .3rem;
    color: var(--app-card-color);

    z-index: 50;
}

._app-card-bg {
   /* min-width: 20rem;*/
    height: 31rem;
}

._app-card-md {
   /* min-width: 20rem;*/
    height: 10rem;
}

._app-card-sm {
   /* min-width: 9.75rem;*/
    height: 10rem;
}

._app-card:hover {
  /*box-shadow:var(--app-card-hover-box-shadow);*/
  z-index: 100;
  border: var(--app-card-hover-border);
  background-color: var(--app-card-hover-bg-color);
  color: var(--app-card-hover-color);
  animation: app-border-shadow 3s linear infinite;
}

@keyframes app-border-shadow {
    0% {box-shadow:var(--app-card-hover-box-shadow-start); }
    20% {box-shadow:var(--app-card-hover-box-shadow); }
    60% {box-shadow:var(--app-card-hover-box-shadow); }
    100% {box-shadow:var(--app-card-hover-box-shadow-start); }
}

._app-card i{
    display: flex;
    position: relative;
    width:0%;
    height: 0%;
    left: calc(50% - 1rem);
    font-size: 2.85rem;
    height: 60%;
}
._app-card span{
    height: 40%;
    font-size: 1.5rem;
    font-weight: 200;
    margin-left: 1rem;
}

._app-card._app-card-bg i{
    top: 20%;
    font-size: 7.85rem;
    left: calc(50% - 4rem);
}

._app-card._app-card-bg span{
    font-size: 2rem;
    font-weight: 200;
    text-align: center;
}

._app-card-container {
    display: flex;
    flex-direction:row;
    align-content: center;
    width: 100%;
    padding: var(--app-card-container-padding);
}

._app-card-double-sm-container {
    display: flex;
    flex-direction:row;
    align-content: center;
}

._app-card-double-md-container {
    display: flex;
    flex-direction:column;
    align-content: center;
}

._divide-two {
    width: 50%;
}

@media screen and (max-width: 70rem), (max-height: 40rem){

    ._app-card-container {
        position: absolute;
        top: calc( 0% + 3.5rem );
        padding-left: 0;
        padding-right: 0;
    }

}


@media screen and (max-width: 40rem){

    ._app-card-container {
        display: block;
    }

    ._divide-two {
        width: 100%;
    }

}
/* END card app  */

/* START card function  */
._function-card {
    display: flex;
    flex-direction:column;
    align-content: center;
    background-color: var(--function-card-bg-color);
    border: var(--app-card-border);

    cursor: pointer;
    margin: .25rem .25rem .25rem .25rem;
    padding: 1.5rem .3rem .3rem .3rem;
    color: var(--app-card-color);

    z-index: 50;
}

._function-card-container {
    width: 100%;
    padding-top: var(--function-card-padding-top);
}

._function-card-container ._function-card {
    display: flex;
    flex-direction:row;
    align-content: center;
    margin-bottom: var(--function-card-margin-bottom);
}

._function-card-container ._function-card i {
    font-size: var(--function-card-icon-size);
    padding: var(--function-card-icon-padding);
}

._function-card-container ._function-card span {
    font-size: var(--function-card-test-size);
    font-weight: var(--function-card-test-weight);
    text-align: left;
    padding: var(--function-card-test-padding);
}

@keyframes function-border-shadow {
    0% {box-shadow:var(--function-card-hover-box-shadow-start); }
    20% {box-shadow:var(--function-card-hover-box-shadow); }
    60% {box-shadow:var(--function-card-hover-box-shadow); }
    100% {box-shadow:var(--function-card-hover-box-shadow-start); }
}

._function-card-container ._function-card:hover {
    /*z-index: 100;*/
    border: var(--function-card-hover-border);
    background-color: var(--function-card-hover-bg-color);
    color: var(--function-card-hover-color);
    animation: function-border-shadow 3s linear infinite;
}

/* END card function  */


/* START card container for form */
._card-form-container {
    z-index: 1;
    margin: var(--cf-container-margin);
    background: var(--cf-container-bg-clr);
    box-shadow: var(--cf-container-shadow);
}

._card-form-container ._card-form-container-header{
    display: flex;
    flex-direction:row;
    align-content: center;
}

._card-form-container ._card-form-container-header ._card-form-container-header-title {
    width: calc( 100% - var(--cf-container-hdr-btn-fst-width) - var(--cf-container-hdr-btn-snd-width) );
    border: var(--cf-container-hdr-border);
    background: var(--cf-container-hdr-title-bg-clr);
    padding: var(--cf-container-hdr-title-padding);
    color: var(--cf--container-hdr-color);
}

._card-form-container-header-title-hover {
    z-index: 2 !important;
    /*font-size: var(--cf-container-hdr-font-size);*/
    color: var(--cf--container-hdr-title-hover-color) !important;
    border: var(--cf-container-hdr-title-hover-border) !important;
    box-shadow: var(--cf--container-hdr-title-hover-shadow) !important;
}

._card-form-container ._card-form-container-header ._card-form-container-header-title i{
    padding-right: var(--cf-container-hdr-distance-i-title);
    font-size: var(--cf-container-hdr-font-size);
}

._card-form-container-header-fst-top-btn, ._card-form-container-header-snd-top-btn  {
    cursor: pointer;
    font-size: var(--cf-container-hdr-font-size);
    color: var(--cf--container-hdr-color);
    border: var(--cf-container-hdr-border);
}

._card-form-container-header-fst-top-btn {
    width: var(--cf-container-hdr-btn-fst-width);
    padding: var(--cf-container-hdr-btn-fst-padding);
}

._card-form-container-header-snd-top-btn  {
    width: var(--cf-container-hdr-btn-snd-width);
    padding: var(--cf-container-hdr-btn-sdn-padding);
}

._card-form-container-header-fst-top-btn:hover, ._card-form-container-header-snd-top-btn:hover  {
    z-index: 2;
    font-size: var(--cf-container-hdr-font-size);
    color: var(--cf--container-hdr-btn-hover-color);
    border: var(--cf-container-hdr-btn-hover-border);
    box-shadow: var(--cf--container-hdr-btn-hover-shadow);
}

._card-form-container-footer {
    border: var(--cf-container-ftr-border);
    padding: var(--cf-container-ftr-padding);
    background-color: var(--cf-container-ftr-bg-clr);
}

._card-form-container-footer:hover {
    z-index: 2;
    border: var(--cf-container-ftr-hover-border);
    box-shadow: var(--cf--container-ftr-hover-shadow);
}

._card-form-container-footer button{
    margin: var(--cf-container-ftr-btn-margin);
    border: var(--cf-container-ftr-btn-border);
    border-radius: var(--cf-container-ftr-btn-border-radius);
    height: var(--cf-container-ftr-btn-height);
    width: var(--cf-container-ftr-btn-width);
}

._card-form-container-footer button i{
    font-size: var(--cf-container-ftr-btn-font-size);
}


._card-form-container-footer button.btn.disabled, ._card-form-container-footer button.btn:disabled {
    /*border: var(--cf-container-ftr-btn-border);*/
    border-radius: var(--cf-container-ftr-btn-border-radius);
}

/*._card-form-container-footer-btn.btn:hover {
    border: var(--cf-container-ftr-btn-border);
    border-radius: var(--cf-container-ftr-btn-border-radius);
}

._card-form-container-footer-btn.btn:active {
    border: var(--cf-container-ftr-btn-border);
    border-radius: var(--cf-container-ftr-btn-border-radius);
}*/


._card-form-conteiner-body {
    background-color: var(--cf-container-body-bg-clr);
    color: var(--cf-container-body-color);
    border: var(--cf-container-body-border);
    padding: var(--cf-container-body-padding);
    font-size: var(--cf-container-body-font-size);
}


@media (max-width: 30rem) {
    ._card-form-container ._card-form-container-header ._card-form-container-header-title span{
        display: none;
    }

    ._card-form-container ._card-form-container-header ._card-form-container-header-title i{
        position: relative;
        left: 35%;
        top: .3rem;
    }

    ._card-form-container ._card-form-container-footer button span{
        display: none;
        width: 40%;
    }

    ._card-form-container ._card-form-container-footer button{
        width: 40%;
        max-width: var(--cf-container-ftr-btn-width);
    }
}

._card-form-container-focus-icon {
    font-size: 1.125rem !important;
}

._card-form-container-focus-icon-black {
    color: black !important;
}

._card-form-container-focus-icon-red {
    color: #DC281E !important;
}

._card-form-container-focus-flex-border {
    border: var(--cf-container-input-focus-flex-border) !important;
    box-shadow: var(--cf-container-input-focus-flex-shadow) !important;
}

._card-form-container ._card-form-conteiner-body ._input-group-flex .ui-float-label input:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none !important;
}

._card-form-container ._card-form-conteiner-body ._input-group-flex .ui-float-label input.ng-invalid{
    border-bottom-color: white !important;
}

/*._card-form-conteiner-body ._input-group-flex .ui-float-label input:focus {
    -webkit-box-shadow: var(--cf-container-input-focus-shadow);
    box-shadow: var(--cf-container-input-focus-shadow);
}*/
/* END card container for form */