
._click-wave-lg {
    position: fixed;
    box-sizing:border-box;
    border-style:solid;
    border-color:white;
    border-radius:50%;
    animation:clickWave-lg 0.4s ease-out;
    z-index:99999;
}

@keyframes clickWave-lg {
    0%   {
        opacity: 1;
        width: 0.5em;
        height: 0.5em;
        margin: -0.25em;
        border-width:0.7em;
    }
    100% {
        opacity:0.2;
        width:10em; 
        height:10em;
        margin:-5em;
        border-width:0.03em;
    }
}



._click-wave-sm {
    position: fixed;
    box-sizing:border-box;
    border-style:solid;
    border-color:white;
    border-radius:50%;
    animation:clickWave-sm 0.4s ease-out;
    z-index:99999;
}

@keyframes clickWave-sm {
    0%   {
        opacity: 1;
        width: 0.5em;
        height: 0.5em;
        margin: -0.25em;
        border-width:0.5em;
    }
    100% {
        opacity:0.2;
        width:5em; 
        height:5em;
        margin:-2.5em;
        border-width:0.03em;
    }
}





/*  Input Addon Style Fix*/
.input-group-addon {
    color:white !important; 
    background-color: #2399e5!important;
    border-radius: 0rem;
}

/* fix for login-page and registration-page */
._p-text {
    color: #878787 !important;
} 

._form-special {
    padding: 0.375rem 0.75rem !important;
    /*margin: 0px;*/
    border: 1px solid #ced4da !important;
    color: black !important;
  }
