/*html, body {
    height: 100%;
}*/
._body {
    /*background-color: #f4f5fa;*/
    background: linear-gradient(to right, #4b6cb7, #182848);
    background-image: url("https://images.pexels.com/photos/442580/pexels-photo-442580.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-attachment: fixed;
    /*background-size: 100%;*/
    background-repeat: repeat;
    background-position: center;
    height: 100%;
    min-height: 100vh;
}

/* START - form container */
div._form {
    border: none;
    -webkit-box-shadow: 0 1px 20px 0 rgba(0,0,0,.5);
    box-shadow: 0 1px 20px 0 rgba(0,0,0,.5);
    background-color: #fff;
    border-radius: .50rem;
    margin: 2rem 2rem 2rem 2rem;
    z-index: 1;

    width: 100%;
    max-width: 40rem;
    display: flex;
    flex-direction:column;
}

._form div._form-header {
    margin-top: 2rem;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

._form div._form-header i{
    font-size: 7rem;
    color: #0074D9;
}

._form div._form-header span{
    margin-left: 1rem;
    font-size: 2.5rem;
    font-weight: 250;
    letter-spacing: .05rem;
}

._form div._form-body {
    margin: 3rem 1rem 1rem 1rem;
}

._form div._form-footer {
    margin: 1rem 1rem 1rem 1rem;
}


@media (max-width: 40rem) {
    div._form {
        margin: 0px;
        border-radius: 0px;
        min-height: 100vh;
    }
}

/* END - form container */


/* START input group */
._input-group-flex{
    padding: 1.1rem 1.1rem 1.1rem 1.1rem;
    border: 1px solid rgba(0,0,0,0);
    display: flex;
    white-space: nowrap;
}

._input-group-flex ._input-group-external-label {
    padding-top: .4rem;
    margin-right: 3rem;
    font-weight: 300;
}

._input-group-flex .ui-float-label {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

._input-group-flex._input-group-dbl-switch-form-container .ui-float-label {
    width: calc(50% - 1.5rem);
}

._input-group-flex._input-group-dbl-switch-form-container .ui-float-label {
    width: calc(50% - 1.5rem);
}

._input-group-flex._input-group-dbl-switch-form-container ._input-switch{
    width: 3rem;
}

._input-group-flex .ui-float-label label{
    margin-left: 2.7rem;
    font-size: 1.25rem;
    font-weight: 250;
}

._input-group-flex .ui-float-label i{
    width: 0%;
    position: relative;
    font-size: .9rem;
    color: #0074D9;
}

._input-group-flex .ui-float-label i._black-content{
    color: rgba(0,0,0,0.65);
}

._input-group-flex .ui-float-label i._to-right {
    left: 1.25rem;
}

._input-group-flex .ui-float-label i._to-left {
    right: 1.8rem;
    font-size: 1.3rem;
 }

._input-group-flex .ui-float-label input{
    border: solid 1px lightgray;
    border-radius: 1rem;
    padding-left: 2.7rem;
    padding-right: 2.25rem;
    height: 2.5rem;
}

._input-group-flex .ui-float-label input._input-not-rounded{
    border-radius: 0rem;
    /*border-color:  blue;*/
}

._input-group-flex._input-group-dbl-switch-form-container .ui-float-label input {
    border-radius: 0rem;
}

._input-group-flex._input-group-dbl-switch-form-container .ui-float-label._to-rigth-position {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

._input-group-dbl-form-margin-left {
    margin-left: 1.5rem;
}


._input-group-flex .ui-float-label input:focus {
    -webkit-box-shadow: 0 0 4px 0 blue;
    box-shadow: 0 0 4px 0 blue;
}

/* other form style */
._form-submit-btn {
    margin-top : 3.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

._form-submit-btn button{
    width: 100%;
    border-radius: 2rem;
    padding: .75rem .75rem .75rem .75rem;
}
/* END input group */



/* Utils */
._pull-rigth {
    display: flex;
    flex-direction: row-reverse;
}

._up-line {
    margin-top: 3rem;
    border-style: solid;
    border-width: .1rem 0 0 0;
}

/* START input form */
._input-group-flex ._input-group-external-label._input-group-lbl-min-ln {
    min-width: 12.5rem;
}

._input-group-flex._input-group-dbl-form {
    width: 50%;
}

._input-group-dbl-form-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1em;
}

._input-group-dbl-form-margin {
    margin-right: 1rem;
}

._input-group-flex .ui-float-label label._input-group-responsive-float-lbl {
    display: none;
}

._input-switch {
    margin-top: .5rem;
    margin-bottom: .5rem;
}


._input-switch .ui-inputswitch.ui-widget.ui-widget-content{
    border-radius: .7rem;
}

@media (max-width: 85rem ) {

    ._input-group-flex._input-group-dbl-switch-form-container._input-group-dbl-form {
        width: 100%;
        margin-bottom: 1em;
    }

    ._input-group-dbl-form-container._switch-form {
        flex-direction: column;
        margin-bottom: 0 !important;
    }

    ._input-group-dbl-form-margin-left {
        margin-left: 0rem;
    }

    ._input-group-flex._input-group-dbl-switch-form-container .ui-float-label {
        width: 100%;
    }

    ._input-group-flex._input-group-dbl-switch-form-container ._input-switch {
        margin-right: 2.5rem;
        margin-left: 2.5rem;
    }

    ._input-group-flex._input-group-dbl-switch-form-container .ui-float-label._to-rigth-position {
        display: block;
    }

    ._input-group-flex._input-group-dbl-switch-form-container .ui-float-label {
        display: block;
    }
    
}



@media (max-width: 75rem ) {

    ._input-group-flex._input-group-dbl-form {
        width: 100%;
        margin-bottom: 1em;
    }

    ._input-group-dbl-form-container{
        flex-direction: column;
        margin-bottom: 0 !important;
    }
    ._input-group-dbl-form-margin {
        margin-right: 0rem;
    }
}


@media (max-width: 45rem ) {

    /* test 
    .ui-float-label>input:-webkit-autofill ~ label{font-size:12px; left: -2.2rem;}
    .ui-float-label>input:focus ~ label,.ui-float-label>input.ui-state-filled ~ label,.ui-float-label>.ui-inputwrapper-focus ~ label,.ui-float-label>.ui-inputwrapper-filled ~ label{font-size:12px; left: -2.2rem;}
    .ui-float-label textarea:focus ~ label,.ui-float-label textarea.ui-state-filled ~ label,.ui-float-label textarea:-webkit-autofill ~ label{font-size:12px; left: -2.2rem;}
    .ui-float-label>input:focus ~ label, .ui-float-label>input.ng-valid ~ label{
        top: -.75em; font-size:12px; left: -2.2rem !important;
    }*/

    .ui-float-label>input:focus ~ label, .ui-float-label>input.ng-valid ~ label{
        top: -.75em;
        font-size: 12px;
    }

    ._input-group-dbl-form-container{
        display: block;
    }

    ._input-group-flex .ui-float-label label._input-group-responsive-float-lbl {
        display: flex;
        font-size: .85rem;
        font-weight: 150;
    }
    
    ._input-group-external-label {
        display: none;
    }

    ._input-group-flex._input-group-dbl-form._input-group-dbl-switch-form-container{
        display: block;
    }
    ._input-switch {
        margin-top: 1rem;
        margin-bottom: 1rem;
        position: relative;
        left: calc( 50% - 3rem );
    }

    ::-webkit-input-placeholder { /* WebKit browsers */
        color: transparent;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
       color: transparent;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
       color: transparent;
    }
    :-ms-input-placeholder { /* Internet Explorer 10+ */
       color: transparent;
    }

    textarea::-webkit-input-placeholder { /* WebKit browsers */
        color: transparent;
    }
    textarea:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
       color: transparent;
    }
    textarea::-moz-placeholder { /* Mozilla Firefox 19+ */
       color: transparent;
    }
    textarea:-ms-input-placeholder { /* Internet Explorer 10+ */
       color: transparent;
    }
}

/* END input form */


/* buttom */
._btn-submit {
    background: var(--submit-btn-bg-color);
    color: var(--submit-btn-color);
}

._btn-reset {
    background:  var(--reset-btn-bg-color);
    color: var(--color-btn-color);
}