<app-operation-result *ngIf="resultFlag" [inputData]="resultData">
</app-operation-result>

<app-block-ui [flag]="loader"></app-block-ui>

<app-input-form (onRefresh)="reset();">

  <div card-header>
    <i class="fa fa-plus"></i>
    <span>Insert a New Job</span>
  </div>
  <div card-body>

    <app-step-menu (onChange)="onTabChange($event)">

      <app-step-item title="Project Selection" icon="fa fa-archive" [(active)]="tabSelected['PrjSearch']" [(disabled)]="tabDisabled['PrjSearch']">
        <div *ngIf="projectSearchReset">
          <app-select-project (returnFunction)="projectSelection($event)"></app-select-project>
        </div>
      </app-step-item>

      <app-step-item title="Task Selection" icon="fa fa-mouse-pointer" [(active)]="tabSelected['TskSearch']" [(disabled)]="tabDisabled['TskSearch']">
        <div *ngIf="taskSearchReset">
          <app-select-task [project]="projectName" (returnFunction)="taskSelection($event)"></app-select-task>
        </div>
      </app-step-item>

      <app-step-item title="Job Information" icon="fa fa-th-list" [(active)]="tabSelected['insertJob']" [(disabled)]="tabDisabled['insertJob']">
        <div *ngIf="viewLoader">
          <app-loader></app-loader>
        </div>

        <form name="componentForm" id="componentForm" [formGroup]="componentForm" [hidden]="viewLoader">
          <div class="ui-g ui-fluid">


            <div class="ui-g-12">
              <div class="_input-group-flex">
                <label class="_input-group-external-label _input-group-lbl-min-ln">Insert A Job Name:</label>
                <span class="ui-float-label">
                  <i class="fa fa-info _to-right _black-content"></i>
                  <input name="jobName" formControlName="jobName" type="text" class="_input-not-rounded" maxlength="19"  style="width: 100%">
                  <label for="float-input" class="_input-group-responsive-float-lbl">Job Name</label>
                </span>
              </div>
            </div>

            <div class="ui-g-12" style="padding-bottom: 0;">
              <app-start-end-date #dates></app-start-end-date>
            </div>

            <div class="ui-g-12" style="padding-bottom: 0;">

              <div class="_input-group-dbl-form-container _switch-form">

                <div class="_input-group-flex _input-group-dbl-form  _input-group-dbl-switch-form-container">


                  <label class="_input-group-external-label _input-group-lbl-min-ln">Task Selled Days Number:</label>

                  <span class="ui-float-label">
                    <i class="fa fa-euro _to-right _black-content"></i>
                    <p-spinner [min]="0" [max]="RemaningEstimatedDays" formControlName="estimatedDays" name="estimatedDays" size="3" styleClass="_input-not-rounded"></p-spinner>
                    <label for="float-input" class="_input-group-responsive-float-lbl">Selled Days</label>
                  </span>

                  <div class="_input-switch">
                    <p-inputSwitch [(ngModel)]="bExtraEstrimatedDays" [ngModelOptions]="{standalone: true}" (onChange)="changeSwitch()" pTooltip="Check to ADD some extra estimated days beyond the initial job estimated days."
                      tooltipPosition="bottom"></p-inputSwitch>
                  </div>

                  <span class="ui-float-label _to-rigth-position">
                    <p-spinner [min]="0" [max]="100" name="extraDays" size="3" [(ngModel)]="extraEstimatedDays" [ngModelOptions]="{standalone: true}"
                      [disabled]="!bExtraEstrimatedDays" (onChange)="changeExtra()" styleClass="_input-not-rounded"></p-spinner>
                  </span>

                </div>
              </div>
            </div>

            <div class="ui-g-12" style="padding-top: 0;">
              <div class="_input-group-dbl-form-container">
                <div class="_input-group-flex _input-group-dbl-form _input-group-dbl-form-margin">
                  <label class="_input-group-external-label _input-group-lbl-min-ln">Job Estimated Cost for Day:</label>
                  <span class="ui-float-label">
                    <i class="fa fa-euro _to-right _black-content"></i>
                    <input name="estcostSelledDays" formControlName="estcostSelledDays" type="text" pKeyFilter="pint" class="_input-not-rounded"
                      style="width: 100%;" maxlength="3" placeholder="0">
                    <label for="float-input" class="_input-group-responsive-float-lbl">Estimated Cost for Day</label>
                  </span>
                </div>
              </div>
            </div>


          </div>

        </form>
      </app-step-item>

    </app-step-menu>

  </div>

  <div card-footer>

    <div *ngIf="!loader">
      <button type="submit" class="btn btn-success" (click)='onSubmit(dates.startDate, dates.endDate)' [(disabled)]="!componentForm.valid && dates.startDate && dates.endDate">
        <i class="fa fa-dot-circle-o"></i>
        <span>Submit</span>
      </button>
      <button type="reset" class="btn btn-danger" (click)="reset();" [(disabled)]="tabSelected['PrjSearch']">
        <i class="fa fa-ban"></i>
        <span>Reset</span>
      </button>
    </div>
    <div *ngIf="loader">
      <app-loader></app-loader>
    </div>

  </div>


</app-input-form>