<app-operation-result *ngIf="resultFlag" [inputData]="resultData">
</app-operation-result>

<app-block-ui [flag]="loader"></app-block-ui>

<div class="card">
  <div class="card-header">
    <strong class="card-title">New Job</strong>
  </div>
  <div class="card-body">

    <p-tabView (onChange)="onTabChange($event)" styleClass="_tabView">

      <p-tabPanel header="Project selection" leftIcon="fa-mouse-pointer" [selected]="tabSelected['PrjSearch']" styleClass="_tabView">
        <div *ngIf="projectSearchReset">
          <app-select-project (returnFunction)="projectSelection($event)"></app-select-project>
        </div>
      </p-tabPanel>

      <p-tabPanel header="Task selection" leftIcon="fa-mouse-pointer" [selected]="tabSelected['TskSearch']" [disabled]="tabDisabled['TskSearch']"
        styleClass="_tabView">
        <div *ngIf="taskSearchReset">
          <app-select-task [project]="projectName" (returnFunction)="taskSelection($event)"></app-select-task>
        </div>
      </p-tabPanel>

      <p-tabPanel header="Insert a new Job" leftIcon="fa-th-list" [selected]="tabSelected['insertJob']" [disabled]="tabDisabled['insertJob']"
        styleClass="_tabView">

        <div *ngIf="viewLoader">
          <app-loader></app-loader>
        </div>

        <form name="componentForm" id="componentForm" [formGroup]="componentForm" [hidden]="viewLoader">
          <div class="ui-g">

            <div class="ui-g-12">
              <div class="form-group">
                <label>Job Name</label>
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-info" style="width: 15px;"></i>
                  </div>
                  <!--  <p-inputMask name="jobName" formControlName="jobName" type="text" class="form-control" id='jobName' placeholder="....."
                    mask="aaa?aaaaaaaaaaaaaaaaaa" slotChar="" autoClear="false" [style]="{'width':'100%','height':'100%'}"></p-inputMask> -->
                  <input name="jobName" formControlName="jobName" type="text" class="form-control _form-special" maxlength="19" placeholder="Insert A Job Name">
                </div>
              </div>
            </div>

            <div class="ui-g-12">
              <app-start-end-date #dates></app-start-end-date>
            </div>

            <div class="form-group ui-g-12">
              <label> Job Estimated Days Number</label>
              <div class="input-group">
                <div>
                  <div style="margin-right: 0.3em; display: inline;">
                    <p-spinner [min]="0" [max]="RemaningEstimatedDays" formControlName="estimatedDays" name="estimatedDays" size="3"></p-spinner>
                  </div>
                  <div style="margin-right: 0.3em; display: inline;">
                    <p-inputSwitch onLabel={{labelOn}} offLabel={{labelOff}} [(ngModel)]="bExtraEstrimatedDays" [ngModelOptions]="{standalone: true}"
                      (onChange)="changeSwitch()" pTooltip="Check to ADD some extra estimated days beyond the initial job estimated days."
                      tooltipPosition="bottom"></p-inputSwitch>
                  </div>
                  <div style="margin-right: 0.3em; display: inline;">
                    <p-spinner [min]="0" [max]="100" name="extraDays" size="3" [(ngModel)]="extraEstimatedDays" [ngModelOptions]="{standalone: true}"
                      [disabled]="!bExtraEstrimatedDays" (onChange)="changeExtra()"></p-spinner>
                  </div>
                </div>
              </div>
            </div>

            <br>

            <div class="form-group ui-g-6">
              <label>Job Estimated Cost for Day</label>
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-euro" style="width: 15px;"></i>
                </div>
                <!-- <p-inputMask name="estcostSelledDays" formControlName="estcostSelledDays" type="text" class="form-control" id='estcostSelledDays'
                    placeholder="0" mask="9?99" slotChar="" autoClear="false" [style]="{'width':'100%','height':'100%'}"></p-inputMask>-->
                <input name="estcostSelledDays" formControlName="estcostSelledDays" type="text" pKeyFilter="pint" class="form-control _form-special"
                  maxlength="3" placeholder="0">
              </div>
            </div>

          </div>

        </form>


      </p-tabPanel>

    </p-tabView>

  </div>
  <div class="card-footer">

    <div *ngIf="!loader">
      <button type="submit" class="btn btn-success" (click)='onSubmit(dates.startDate, dates.endDate)' [(disabled)]="!componentForm.valid || !dates.startDate || !dates.endDate">
        <i class="fa fa-dot-circle-o"></i> Submit {{componentForm.valid}}
      </button>
      <button type="reset" class="btn btn-danger" (click)="reset();" [(disabled)]="tabSelected['PrjSearch']">
        <i class="fa fa-ban"></i> Reset
      </button>
    </div>
    <div *ngIf="loader">
      <app-loader></app-loader>
    </div>

  </div>

</div>