<p-fieldset legend="Task" [toggleable]="true" [collapsed]="false" styleClass="_toggle">
  
    <div class="ui-g">
  
      <div class="ui-g-12 _prv-no-padding">
  
  
        <div class=" _prv-resposivee-50">

  
          <div class="_short _inline">
  
            <div class="_pvr-block">
  
              <div class="_pvr-block-content">
  
                <div class="_green-border _inline-start-border ">
                </div>
                
                <h6 class="_inline-content">BBBB</h6>

                <div class="_white-border _inline-end-border">
                </div>
  
              </div>
  
              <div class="_pvr-white-border"></div>
  
            </div>
  
  
          </div>
  
  
          <div class="_short _inline">
  
            <div class="_pvr-block">
  
              <div class="_pvr-block-content">
  
                <div class="_pvr-border ">
                </div>
  
                <div class="_inline-content"  pTooltip="Project profit are negative!"
                  tooltipPosition="bottom">
                  <h6 class="_earnings-value">AAAA
                    <i class="fa fa-euro _earnings-down"></i>
                  </h6>
                </div>

                <div class="_white-border _inline-end-border">
                </div>
  
              </div>
  
              <div class="_pvr-white-border"></div>
  
            </div>
  
  
          </div>
  
  
        </div>
  
  
        <div class=" _prv-resposivee-50">
  
  
  
          <div class=" _short  _inline">
  
  
  
  
            <div class="_pvr-block">
  
              <div class="_pvr-block-content">
  
                <div class="_pvr-border ">
                </div>
  
  
                <div class="_inline-content" style="display: inline-flex;">
  
                  <h6 class="_days-value" pTooltip="Number of days from starting date to delivery date (estimation maded with four workers for day)"
                    tooltipPosition="bottom">
                    <i class="fa fa-clock-o _days-hashtag _earnings-up" ></i>
                   YYYY
                  </h6>
                  <h6 class="_days-value" pTooltip="Difference between selled and estimated days"
                    tooltipPosition="bottom">
                    (
                    <i class="fa fa-cart-arrow-down _days-hashtag _earnings-up"></i>
                   ZZZZ )
                  </h6>
                 
                </div>
                <div class="_white-border _inline-end-border">
                </div>
  
  
              </div>
  
              <div class="_pvr-white-border"></div>
  
            </div>
  
          </div>
  
  
  
          <div class="_short  _inline" pTooltip="Estimated day workers to deliver in time the project" tooltipPosition="bottom">
  
  
            <div class="_pvr-block">
  
              <div class="_pvr-block-content">
  
                <div class="_pvr-border ">
                </div>
  
                <h6 class="_inline-content">
                  <i class="fa fa-users _earnings-down"></i> XXXX</h6>
  
                <div class="_dark-border _inline-end-border">
                </div>
  
              </div>
  
              <div class="_pvr-white-border"></div>
            </div>
  
          </div>
  
  
  
  
        </div>
  
  
      </div>
  
    </div>
  
  </p-fieldset>