<app-operation-result *ngIf="resultFlag" [inputData]="resultData">
</app-operation-result>

<div class="card">
  <div class="card-header">
    <strong class="card-title">Insert a New Project Team</strong>
  </div>
  <div class="card-body" style="width:'100%'">

    <p-tabView (onChange)="onTabChange($event)">


      <p-tabPanel header="Project selection" leftIcon="fa-mouse-pointer" [selected]="tabSelected['search']">
        <div *ngIf="searchReset">
          <app-select-project (returnFunction)="projectSelection($event)"></app-select-project>
        </div>
      </p-tabPanel>


      <p-tabPanel header="Team Initialization" leftIcon="fa-th-list" [selected]="tabSelected['insertTeam']" [disabled]="tabDisabled['insertTeam']">

        <div *ngIf="resetUserList">
          <app-project-user-list-table [inputData]="availableUsersInputData" (errorFunction)="userListError($event)"></app-project-user-list-table>
          <br>
        </div>

        <div class="col-md-10" *ngIf="resetUserList">
          <h4 class="col-md-12">Add Users to the project</h4>
          <br>
          <app-pick-project-available-users [inputData]="availableUsersInputData" (errorFunction)="userListError($event)" (returnFunction)="onPickUp($event)"></app-pick-project-available-users>
        </div>
      </p-tabPanel>


    </p-tabView>

  </div>

  <div class="card-footer">

    <div *ngIf="!loader">
      <button type="submit" class="btn btn-success" [disabled]="targetList.length < 1" (click)='onSubmit()'>
        <i class="fa fa-dot-circle-o"></i> Submit
      </button>
      <button type="reset" class="btn btn-danger" (click)="onReset()" [disabled]="!resetUserList">
        <i class="fa fa-ban"></i> Reset
      </button>
    </div>
    <div *ngIf="loader">
      <app-loader></app-loader>
    </div>

  </div>
</div>