<ul class="nav navbar-nav">
  <h3 class="menu-title">Activities</h3>
  <li>
    <a routerLink="./" class="_click-effect-sm">
      <i class="menu-icon fa fa-tasks"></i>View Activities </a>
  </li>


  <li class="menu-item-has-children dropdown">
    <a href="#" class="dropdown-toggle _click-effect-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="menu-icon fa fa-calendar"></i>Manage Activities</a>
    <ul class="sub-menu children dropdown-menu">
      <li>
        <i class="menu-icon fa fa-save"></i>
        <a routerLink="./" class="_click-effect-sm">Insert Day Activity</a>
      </li>
      <li>
        <i class="menu-icon fa fa-edit"></i>
        <a routerLink="./" class="_click-effect-sm">Edit Day Activity</a>
      </li>
      <li>
        <i class="menu-icon fa fa-exclamation-circle"></i>
        <a routerLink="./" class="_click-effect-sm">Activity Problems</a>
      </li>
    </ul>
  </li>

  <li>
    <a routerLink="./" >
      <i class="menu-icon fa fa-bar-chart"></i>Activity Analysis</a>
  </li>
</ul>