<div class="_card-transition _grad-violet-light-blue ">

  <div class="_card-header">

    <div class="_content">
      <h4>2018/08/16</h4>
    </div>

    <div  class="_content">

      <div class="_fa-high-border _grad-kashmire">
        <i class="fa fa-repeat"></i>
      </div>

    </div>

  </div>

  <div class="_card-body">

    <div class="_content">
      <i class="fa fa-sitemap"></i>
    </div>

    <div class="_content">
      <h4 class="_content-number">12,515</h4>
      <h4>Open Projects</h4>
    </div>

  </div>

</div>

<br>
<br>
<br>
<br>


<!--<div class="_card-transition">
  
    <div class="_card-header">
      XXX
    </div>
  
    <div class="_card-body">
      YYY
    </div>
  
    <div class="_card-footer">
      ZZZ
    </div>
  
  </div>-->