<app-operation-result *ngIf="resultFlag" [inputData]="resultData">
</app-operation-result>

<app-block-ui [flag]="loader"></app-block-ui>

<div class="card">
  <div class="card-header">
    <strong class="card-title">New Project Task</strong>
  </div>
  <div class="card-body">

    <p-tabView (onChange)="onTabChange($event)" styleClass="_tabView">

      <p-tabPanel header="Project selection" leftIcon="fa-mouse-pointer" [selected]="tabSelected['search']" styleClass="_tabView">
        <div *ngIf="searchReset">
          <app-select-project (returnFunction)="projectSelection($event)"></app-select-project>
        </div>
      </p-tabPanel>


      <p-tabPanel header="Insert a new Task" leftIcon="fa-th-list" [selected]="tabSelected['insertTask']" [disabled]="tabDisabled['insertTask']"
        styleClass="_tabView">

        <!--    <div *ngIf="resetTaskView">

  
        <h4 class="col-md-12">Show task</h4> 

        </div> -->

        <!--  <h4 class="col-md-12">Add New Task</h4> -->

        <form name="componentForm" id="componentForm" [formGroup]="componentForm">
          <div class="ui-g">
            <div class="ui-g-12 _projectSummary">
              <div class="ui-g-3 ui-sm-12 _padding" style="display: inline-flex;">
                <div class="_green-border"></div>
                <h4 class="_content">Project Dates: </h4>
              </div>

              <div class="ui-g-3 ui-sm-12 _padding">
                <h4 class="_content">Project Remaning Days: </h4>
              </div>
              <div class="ui-g-3 ui-sm-12 _padding">
                <h4 class="_content">Project Actual Extra Days: </h4>
              </div>
              <div class="ui-g-3 ui-sm-12 _padding">
                <h4 class="_content">Other: </h4>
              </div>
            </div>


            <div class="ui-g-12">
              <div class="form-group">
                <label>Task Name</label>
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-info" style="width: 15px;"></i>
                  </div>
                  <p-inputMask name="taskName" formControlName="taskName" type="text" class="form-control" id='taskName' placeholder="....."
                    mask="aaa?aaaaaaa" slotChar="" autoClear="false" [style]="{'width':'100%','height':'100%'}"></p-inputMask>
                </div>
              </div>
            </div>

            <div class="ui-g-12">
              <app-start-end-date #dates></app-start-end-date>
            </div>

            <!--       <div class="ui-g-12">
              <div class="form-group">
                <label> Task Selled Days Number</label>
                <div class="input-group">
                  <div style="display: inline-flex;">
                    <div style="margin-right: 0.3em">
                      <p-spinner [min]="0" [max]="100" formControlName="selledDays" name="selledDays" size="3"></p-spinner>
                    </div>
                    <div style="margin-right: 0.3em">
                      <p-inputSwitch onLabel="Yes Extra Days" offLabel="No Extra Days"></p-inputSwitch>
                    </div>
                    <p-spinner [min]="0" [max]="100" name="extraDays" size="3"></p-spinner>
                  </div>
                </div>
              </div>
            </div>

            <div class="ui-g-12">
              <div class="form-group">
                <label> Task Estimated Days Number</label>
                <div class="input-group">
                  <div style="display: inline-flex;">
                    <div style="margin-right: 0.3em">
                      <p-spinner [min]="0" [max]="100" formControlName="estimatedDays" name="estimatedDays" size="3"></p-spinner>
                    </div>
                    <div style="margin-right: 0.3em">
                      <p-inputSwitch onLabel="Yes Extra Days" offLabel="No Extra Days"></p-inputSwitch>
                    </div>
                    <p-spinner [min]="0" [max]="100" name="extraDays" size="3"></p-spinner>
                  </div>
                </div>
              </div>
            </div> -->





            <div class="ui-g-12 _estimated_days">
              <div class="form-group  _estimated_days_group" style="margin-right: 0.3em">
                <label> Task Selled Days Number</label>
                <div class="input-group">
                  <div class="_days-content">
                    <div style="margin-right: 0.3em">
                      <p-spinner [min]="0" [max]="100" formControlName="selledDays" name="selledDays" size="3"></p-spinner>
                    </div>
                    <div style="margin-right: 0.3em">
                      <p-inputSwitch onLabel="Yes Extra Days" offLabel="No Extra Days"></p-inputSwitch>
                    </div>
                    <p-spinner [min]="0" [max]="100" name="extraDays" size="3"></p-spinner>
                  </div>
                </div>
              </div>

              <div class="form-group _estimated_days_group">
                <label> Task Estimated Days Number</label>
                <div class="input-group">
                  <div class="_days-content">
                    <div style="margin-right: 0.3em">
                      <p-spinner [min]="0" [max]="100" formControlName="estimatedDays" name="estimatedDays" size="3"></p-spinner>
                    </div>
                    <div style="margin-right: 0.3em">
                      <p-inputSwitch onLabel="Yes Extra Days" offLabel="No Extra Days"></p-inputSwitch>
                    </div>
                    <p-spinner [min]="0" [max]="100" name="extraDays" size="3"></p-spinner>
                  </div>
                </div>
              </div>
            </div>

            <div class="ui-g-12 _cost-group-div">
              <div class="form-group _cost-group">
                <label>Task Selled Cost for Day</label>
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-euro" style="width: 15px;"></i>
                  </div>
                  <p-inputMask name="costSelledDays" formControlName="costSelledDays" type="text" class="form-control" id='costSelledDays'
                    placeholder="0" mask="9?99" slotChar="" autoClear="false" [style]="{'width':'100%','height':'100%'}"></p-inputMask>
                </div>
              </div>

              <div class="form-group  _cost-group">
                <label>Task Estimated Cost for Day</label>
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-euro" style="width: 15px;"></i>
                  </div>
                  <p-inputMask name="estcostSelledDays" formControlName="estcostSelledDays" type="text" class="form-control" id='estcostSelledDays'
                    placeholder="0" mask="9?99" slotChar="" autoClear="false" [style]="{'width':'100%','height':'100%'}"></p-inputMask>
                </div>
              </div>
            </div>

          </div>
        </form>


      </p-tabPanel>

    </p-tabView>

  </div>

  <div class="card-footer">

    <div *ngIf="!loader">
      <button type="submit" class="btn btn-success" (click)='onSubmit(dates.startDate, dates.endDate)' [(disabled)]="!componentForm.valid && dates.startDate && dates.endDate">
        <i class="fa fa-dot-circle-o"></i> Submit
      </button>
      <button type="reset" class="btn btn-danger" (click)="componentForm.reset();" [(disabled)]="tabSelected['search']">
        <i class="fa fa-ban"></i> Reset
      </button>
    </div>
    <div *ngIf="loader">
      <app-loader></app-loader>
    </div>

  </div>

</div>