.form-control {
    padding : 0px;
    margin: 0px;
    border: 1px;
}

.ui-g-12._projectSummary {
    background-color: lightgrey;
    padding: 0em;
}


._green-border {
    border: solid;
    border-width: 10px; 
    border-color: green; 
    width: 10px;
    color: green; 
    width: 10px;
}

._content {
    /*width: 100%-10px;*/
    padding-top:1.6em;
    padding-bottom:1.6em;
    padding-left: 0.2em;
}

._padding {
    padding: 0em;
    height: 5em;
}

.ui-inputswitch {
    height: 100%;
    color: red;
    border: 1.5px solid #85144b;
    border-radius: 16px;
}

.ui-inputswitch .ui-inputswitch-on span/*, .ui-inputswitch .ui-inputswitch-off span*/ {
    color: green;
    background-color: white;
}

._estimated_days {
    display: inline-flex;
}

._estimated_days_group {
    width: 50%;
}

._cost-group {
    width: 55%;
    margin-right: 0.3em;
}

._cost-group-div {
    display: inline-flex;
}

@media (max-width: 990px) {
    ._estimated_days {
        display: block;
    }

    /* To have same type */

    ._cost-group-div {
        display: block;
    }

    ._cost-group {
        width: 100%;
        margin-right: 0em;
    }

    ._double-date-div {
        display: block !important;
    }

    ._double-date {
        width: 100% !important;
        margin-right: 0em !important;
    }
}


/*@media (max-width: 770px) {
    ._cost-group-div {
        display: block;
    }

    ._cost-group {
        width: 100%;
        margin-right: 0em;
    }
}*/