._dashboard {
    width: 100%;
    background: var(--dashboard-bg-color);
}

._body {
    background-image: none;
    background: var(--dashboard-bg-color); 
}

._dashboard-body {
    margin: 0 1rem 1rem 1rem;
    padding-top: 8rem;
}
